# Exclude Terraform directories and files
*/.terraform/modules

# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfstate.lock.hcl

# Ignore sensitive variable files
*.tfvars
*.tfvars.json

# Ignore plan output files
*.tfplan

# OS and editor-specific files
.DS_Store
Thumbs.db
*.log
